<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
    <!-- Botón para borrar todos (opcional) -->
    <ion-buttons slot="end">
      <ion-button (click)="clearAll()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="favorites.length; else empty">
    <ion-item
      *ngFor="let fav of favorites"
      [routerLink]="['/tabs','wiki','article', fav.category, fav.id]"
      routerDirection="forward">
      <ion-label>{{ fav.name }}</ion-label>
      <ion-badge slot="end">{{ fav.category }}</ion-badge>
    </ion-item>
  </ion-list>

  <ng-template #empty>
    <ion-text color="medium">
      <p class="ion-padding">No tienes ningún favorito aún.</p>
    </ion-text>
  </ng-template>
</ion-content>
